# Author: Jacob Dawson
# Make sure not to include the images--there are gigabytes of info in there!
raw_data/
example_data/
official_images/
fake_images/
cookiecut_raw_data/
cookiecut_official_images/
ckpts/

# we do not need pycache:
__pycache__/

# we definitely don't need checkpoint images:
checkpoint_imgs/

# we wanna upload this in the final version, but not yet:
webbGen/
# I believe we want to include this now!

# ignore this, it's just vscode being weird
.vscode/
